# NBA Player Value based on Win-Shares and Salary

In [6]:
#import required packages
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Create Dataframe from csv
#### Last updated 4/7/2019, includes games through 4/6/2019

In [21]:
#creating player stats df from csv
df_stats = pd.read_csv('nba_player_stats.csv')

In [22]:
print(df_stats)

      Rk                  Player  Pos  Age   Tm   G    MP   PER    TS%   3PAr  \
0      1            Alex Abrines   SG   25  OKC  31   588   6.3  0.507  0.809
1      2              Quincy Acy   PF   28  PHO  10   123   2.9  0.379  0.833
2      3            Jaylen Adams   PG   22  ATL  32   393   7.9  0.479  0.689
3      4            Steven Adams    C   25  OKC  77  2593  18.9  0.596  0.003
4      5             Bam Adebayo    C   21  MIA  79  1841  17.8  0.623  0.028
5      6               Deng Adel   SF   21  CLE  17   187   1.7  0.376  0.629
6      7  DeVaughn Akoon-Purcell   SG   25  DEN   7    22   8.2  0.322    0.4
7      8       LaMarcus Aldridge    C   33  SAS  79  2621  22.7  0.573  0.031
8      9            Rawle Alkins   SG   21  CHI   8    88   9.4  0.417  0.344
9     10           Grayson Allen   SG   23  UTA  35   347   6.1  0.514  0.589
10    11           Jarrett Allen    C   20  BRK  78  2046  18.8  0.637  0.079
11    12            Kadeem Allen   SG   26  NYK  18   387  15.7  0.582  0.252
12    13         Al-Farouq Aminu   PF   28  POR  79  2246    13  0.568  0.474
13    14         Justin Anderson   SF   25  ATL  46   432    11  0.501  0.483
14    15           Kyle Anderson   SF   25  MEM  43  1281  12.8  0.569  0.123
15    16           Ryan Anderson   PF   30  TOT  24   321   4.6  0.414   0.58
16    16           Ryan Anderson   PF   30  PHO  15   278   4.6  0.423  0.567
17    16           Ryan Anderson   PF   30  MIA   9    43   4.6  0.354  0.667
18    17            Ike Anigbogu    C   20  IND   3     6    -6      0      0
19    18   Giannis Antetokounmpo   PF   24  MIL  71  2334  30.7  0.642  0.161
20    19    Kostas Antetokounmpo   PF   21  DAL   2    11  -0.8   0.21      0
21    20         Carmelo Anthony   PF   34  HOU  10   294    11  0.513  0.529
22    Rk                  Player  Pos  Age   Tm   G    MP   PER    TS%   3PAr
23    21              OG Anunoby   SF   21  TOR  65  1317    10  0.546  0.503
24    22        Ryan Arcidiacono   PG   24  CHI  79  1899  11.3  0.586  0.528
25    23            Trevor Ariza   SF   33  TOT  69  2349  12.1  0.534   0.59
26    23            Trevor Ariza   SF   33  PHO  26   884  10.5  0.525  0.612
27    23            Trevor Ariza   SF   33  WAS  43  1465    13  0.538   0.58
28    24           D.J. Augustin   PG   31  ORL  79  2206  15.7  0.618  0.462
29    25           Deandre Ayton    C   20  PHO  71  2183  20.5  0.608  0.005
..   ...                     ...  ...  ...  ...  ..   ...   ...    ...    ...
696  508          Andrew Wiggins   SF   23  MIN  70  2444  12.1  0.489  0.286
697  509           Alan Williams   PF   26  BRK   4    22  32.7  0.595    0.1
698  510           C.J. Williams   SG   28  MIN  13    92   6.7  0.481  0.444
699  511      Johnathan Williams    C   23  LAL  22   321    14  0.589  0.021
700  512        Kenrich Williams   SF   24  NOP  44  1017   9.2  0.481  0.556
701  513            Lou Williams   SG   32  LAC  73  1942  21.6  0.557  0.259
702  514         Marvin Williams   PF   32  CHO  75  2133  12.6  0.548  0.586
703  515         Robert Williams    C   21  BOS  31   254  19.9  0.723      0
704  516           Troy Williams   SF   24  SAC  19   298  11.1  0.548  0.462
705  517             D.J. Wilson   PF   22  MIL  46   812    10  0.511  0.515
706  518         Justise Winslow   SF   22  MIA  63  1874  12.8  0.513  0.338
707  519          Christian Wood   PF   23  TOT  19   193  23.9  0.637  0.195
708  519          Christian Wood   PF   23  MIL  13    62  17.1  0.585    0.2
709  519          Christian Wood   PF   23  NOP   6   131    27   0.66  0.193
710  520            Delon Wright   PG   26  TOT  72  1583  15.2  0.519  0.298
711  520            Delon Wright   PG   26  TOR  49   897  14.5  0.527  0.307
712  520            Delon Wright   PG   26  MEM  23   686  16.1  0.509  0.286
713   Rk                  Player  Pos  Age   Tm   G    MP   PER    TS%   3PAr
714  521      Guerschon Yabusele   PF   23  BOS  40   226  12.1  0.534  0.343
715  522              Nick Young   SG   33  DEN   4    37   2.3    0.5  0.889
716  523          Thaddeus Young   PF   30  IND  80  2463  16.2  0.566  0.176
717  524              Trae Young   PG   20  ATL  80  2470    17  0.539  0.384
718  525             Cody Zeller    C   26  CHO  49  1243  17.2  0.611  0.064
719  526            Tyler Zeller    C   29  TOT   3    29    14  0.512  0.125
720  526            Tyler Zeller    C   29  ATL   2    11   1.5      0    0.5
721  526            Tyler Zeller    C   29  MEM   1    18  21.6  0.644      0
722  527              Ante Zizic    C   22  CLE  57  1044    16  0.586      0
723  528             Ivica Zubac    C   21  TOT  57   989  18.7  0.604      0
724  528             Ivica Zubac    C   21  LAL  33   516  19.5  0.633      0
725  528             Ivica Zubac    C   21  LAC  24   473  17.8   0.57      0

     ...   TOV%  USG%   OWS  DWS    WS   WS/48   OBPM  DBPM    BPM  VORP
0    ...    7.9  12.2   0.1  0.6   0.7   0.054   -2.5    -1   -3.4  -0.2
1    ...   15.2   9.2  -0.1  0.1  -0.1   -0.02   -5.6  -0.3   -5.9  -0.1
2    ...   19.6  13.7  -0.1  0.2   0.1   0.014   -2.8  -1.5   -4.3  -0.2
3    ...   12.6  16.4   5.1    4   9.1   0.168    0.8   2.2      3   3.3
4    ...   17.3  15.6   3.4  3.2   6.6   0.171   -0.5   3.6      3   2.4
5    ...   12.2   9.6  -0.2    0  -0.3   -0.07   -5.8  -1.8   -7.6  -0.3
6    ...   15.5    25  -0.1    0     0  -0.049   -4.3   0.8   -3.5     0
7    ...    8.8  26.9   6.1  2.7   8.8   0.161    1.1   0.4    1.5   2.3
8    ...   16.3  21.3  -0.1    0  -0.1  -0.039   -3.4  -2.2   -5.6  -0.1
9    ...   15.4  23.2  -0.5  0.3  -0.1  -0.015   -4.2  -3.1   -7.3  -0.5
10   ...   12.9  15.9   4.5  3.1   7.5   0.177   -0.5   3.1    2.6   2.4
11   ...   14.7  19.5   0.6  0.2   0.8   0.103    0.3  -1.9   -1.6     0
12   ...    9.9  13.5   2.9  2.7   5.6    0.12      0   0.8    0.8   1.6
13   ...     11  17.2     0  0.3   0.3   0.037   -2.8  -0.6   -3.4  -0.2
14   ...     16  12.6   0.8  1.8   2.7     0.1   -2.1   3.2    1.1     1
15   ...   15.5    12  -0.3    0  -0.2  -0.033   -4.4  -1.9   -6.4  -0.3
16   ...   15.4  12.1  -0.2    0  -0.2  -0.037   -4.4  -2.1   -6.5  -0.3
17   ...   16.8  11.8     0    0     0   -0.01   -4.9  -0.9   -5.8     0
18   ...     25  29.2  -0.1    0  -0.1  -0.478  -22.6   8.6    -14     0
19   ...   14.9  32.3   8.7  5.4  14.1   0.291    5.6     5   10.6   7.4
20   ...   17.4  22.5  -0.1    0  -0.1  -0.247  -15.9   2.7  -13.3     0
21   ...    5.8  20.5   0.1  0.2   0.3   0.048     -3  -2.8   -5.8  -0.3
22   ...   TOV%  USG%   OWS  DWS    WS   WS/48   OBPM  DBPM    BPM  VORP
23   ...   10.8  15.4   0.4  1.6     2   0.073   -1.2   0.1   -1.1   0.3
24   ...   12.2  11.5   2.6  0.9   3.5   0.088   -0.1    -1   -1.2   0.4
25   ...   11.6  16.6   1.3  1.3   2.6   0.052   -0.1  -0.4   -0.5   0.9
26   ...   13.7  13.8   0.2  0.5   0.7   0.037   -1.2   0.3   -0.9   0.2
27   ...   10.6  18.2   1.1  0.8   1.9   0.062    0.6  -0.8   -0.2   0.7
28   ...   14.2  17.1     5  1.8   6.8   0.148    1.7    -2   -0.3   0.9
29   ...   11.7  21.2   4.1  1.8   5.9    0.13      0   0.2    0.2   1.2
..   ...    ...   ...   ...  ...   ...     ...    ...   ...    ...   ...
696  ...    9.4  24.3  -0.7  1.2   0.5    0.01   -1.9  -1.3   -3.2  -0.7
697  ...    7.8  24.4   0.1  0.1   0.1   0.322    3.5   3.7    7.2   0.1
698  ...   12.9  14.1     0    0     0   0.005     -3  -3.3   -6.3  -0.1
699  ...   10.5    16   0.5  0.3   0.8    0.12   -1.4  -0.9   -2.3     0
700  ...   10.9  12.2   0.2  0.8     1   0.048   -1.4   0.7   -0.6   0.4
701  ...   11.5  32.4   4.2  1.1   5.3   0.131    3.4  -2.7    0.7   1.3
702  ...    6.4  14.8   1.9  1.9   3.8   0.086   -0.2   0.6    0.4   1.3
703  ...   14.2  10.8   0.5  0.6   1.1   0.211     -2   6.7    4.7   0.4
704  ...    8.4  14.8   0.2  0.3   0.5   0.075     -2     0     -2     0
705  ...   10.5  14.2   0.3  1.3   1.5   0.091   -2.5   0.9   -1.6   0.1
706  ...     15  20.7   0.2  2.4   2.6   0.067   -1.1   0.9   -0.3   0.8
707  ...   11.2    25   0.5  0.3   0.8    0.19   -0.7  -0.4   -1.2     0
708  ...    8.7  23.4   0.1  0.1   0.2   0.147   -3.4  -4.1   -7.5  -0.1
709  ...   12.2  25.7   0.3  0.2   0.6   0.211    0.5   1.3    1.8   0.1
710  ...   10.7    18   1.6  2.2   3.8   0.116   -0.2   1.3    1.2   1.3
711  ...   10.4  17.1     1  1.2   2.3   0.122   -0.2   1.1    0.9   0.6
712  ...   11.1  19.3   0.6    1   1.5   0.108   -0.1   1.7    1.6   0.6
713  ...   TOV%  USG%   OWS  DWS    WS   WS/48   OBPM  DBPM    BPM  VORP
714  ...   16.5  17.3   0.1  0.3   0.4   0.085   -2.4   0.3   -2.1     0
715  ...   18.2  12.7     0    0     0   -0.02   -4.4  -2.6     -7     0
716  ...   11.8  17.9     3  3.9   6.9   0.135    0.8   2.2      3   3.1
717  ...   17.6  28.3   2.5  0.7   3.2   0.063    1.7  -2.9   -1.1   0.5
718  ...   13.2  16.2   2.6  1.2   3.9   0.149    0.2   1.7    1.9   1.2
719  ...      0  14.8   0.1    0   0.1   0.163   -2.3  -3.1   -5.4     0
720  ...      0   7.4     0    0     0  -0.013   -6.8  -0.4   -7.2     0
721  ...      0  19.3   0.1    0   0.1   0.271    0.5  -4.8   -4.3     0
722  ...   13.4  18.1   1.5  0.3   1.9   0.085   -1.9  -1.3   -3.2  -0.3
723  ...     14  20.2   1.7  1.3     3   0.147   -1.3     1   -0.4   0.4
724  ...   12.9  20.5   1.1  0.6   1.8   0.165   -1.3   0.4   -0.9   0.1
725  ...   15.3  19.9   0.6  0.7   1.3   0.128   -1.4   1.6    0.2   0.3

[726 rows x 27 columns]

## Headers throughout the table are in csv for readability, removing for analysis purposes

In [23]:
df_stats.head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,1,Alex Abrines,SG,25,OKC,31,588,6.3,0.507,0.809,...,7.9,12.2,0.1,0.6,0.7,0.054,-2.5,-1,-3.4,-0.2
1,2,Quincy Acy,PF,28,PHO,10,123,2.9,0.379,0.833,...,15.2,9.2,-0.1,0.1,-0.1,-0.02,-5.6,-0.3,-5.9,-0.1
2,3,Jaylen Adams,PG,22,ATL,32,393,7.9,0.479,0.689,...,19.6,13.7,-0.1,0.2,0.1,0.014,-2.8,-1.5,-4.3,-0.2
3,4,Steven Adams,C,25,OKC,77,2593,18.9,0.596,0.003,...,12.6,16.4,5.1,4,9.1,0.168,0.8,2.2,3,3.3
4,5,Bam Adebayo,C,21,MIA,79,1841,17.8,0.623,0.028,...,17.3,15.6,3.4,3.2,6.6,0.171,-0.5,3.6,3,2.4

In [24]:
#full definition of all columns can be found at https://www.basketball-reference.com/leagues/NBA_2019_advanced.html
list(df_stats)

['Rk',
 'Player',
 'Pos',
 'Age',
 'Tm',
 'G',
 'MP',
 'PER',
 'TS%',
 '3PAr',
 'FTr',
 'ORB%',
 'DRB%',
 'TRB%',
 'AST%',
 'STL%',
 'BLK%',
 'TOV%',
 'USG%',
 'OWS',
 'DWS',
 'WS',
 'WS/48',
 'OBPM',
 'DBPM',
 'BPM',
 'VORP']

In [25]:
# print total missing values for each feature
print(df_stats.isnull().sum())

Rk        0
Player    0
Pos       0
Age       0
Tm        0
G         0
MP        0
PER       0
TS%       6
3PAr      7
FTr       7
ORB%      0
DRB%      0
TRB%      0
AST%      0
STL%      0
BLK%      0
TOV%      6
USG%      0
OWS       0
DWS       0
WS        0
WS/48     0
OBPM      0
DBPM      0
BPM       0
VORP      0
dtype: int64

## Create Dataframe for NBA Player Contracts for 2018-2019 and extended

In [57]:
df_contracts = pd.read_csv(r'C:\Users\dudad\Documents\Data Science Career Track\Data Wrangling\player_contracts.csv', delimiter = ',')
print(df_contracts)

      Rk              Player   Tm         2018-19          2019-20   \
0      1       Stephen Curry  GSW   37,457,154.00    40,231,758.00
1      2          Chris Paul  HOU   35,654,150.00    38,506,482.00
2      3   Russell Westbrook  OKC   35,654,150.00    38,178,000.00
3      4        LeBron James  LAL   35,654,150.00    37,436,858.00
4      5       Blake Griffin  DET   32,088,932.00    34,234,964.00
5      6      Gordon Hayward  BOS   31,214,295.00    32,700,690.00
6      7          Kyle Lowry  TOR   31,200,000.00    33,296,296.00
7      8         Paul George  OKC   30,560,700.00    33,005,556.00
8      9         Mike Conley  MEM   30,521,116.00    32,511,623.00
9     10        James Harden  HOU   30,431,854.00    37,800,000.00
10    11        Kevin Durant  GSW   30,000,000.00    31,500,000.00
11    12        Paul Millsap  DEN   29,730,769.00    30,500,000.00
12    13          Al Horford  BOS   28,928,710.00    30,123,015.00
13    14      Damian Lillard  POR   27,977,689.00    29,802,321.00
14    15       DeMar DeRozan  SAS   27,739,975.00    27,739,975.00
15    16          Chris Bosh  MIA   26,837,720.00               NaN
16    17         Otto Porter  CHI   26,011,913.00    27,250,576.00
17    18        Jrue Holiday  NOP   25,976,111.00    26,131,111.00
18    19         CJ McCollum  POR   25,759,766.00    27,556,959.00
19    20     Carmelo Anthony  ATL   25,534,253.00               NaN
20   NaN                 NaN  NaN          Salary               NaN
21    Rk              Player   Tm         2018-19          2019-20
22    21      Andrew Wiggins  MIN   25,467,250.00    27,270,000.00
23    22         Joel Embiid  PHI   25,467,250.00    27,270,000.00
24    23        Bradley Beal  WAS   25,434,263.00    27,093,019.00
25    24       Anthony Davis  NOP   25,434,263.00    27,093,019.00
26    25      Andre Drummond  DET   25,434,263.00    27,093,019.00
27    26    Hassan Whiteside  MIA   25,434,263.00    27,093,018.00
28    27        Nikola Jokic  DEN   24,605,181.00    26,573,595.00
29    28        Steven Adams  OKC   24,157,304.00    25,842,697.00
..   ...                 ...  ...              ...              ...
594  541      JaKarr Sampson  CHI       88,531.00               NaN
595  542      Henry Ellenson  NYK       85,458.00               NaN
596  543         Gary Payton  WAS       85,458.00               NaN
597  544       Scotty Hopson  OKC       85,458.00               NaN
598  545       Charles Cooke  MIA       76,236.00               NaN
599  546        Andre Ingram  LAL       76,236.00               NaN
600  547        Kobi Simmons  CLE       76,236.00               NaN
601  548  Shaquille Harrison  PHO       50,000.00               NaN
602  549        Garlon Green  NOP       50,000.00               NaN
603  550        Ray Spalding  PHO       47,371.00               NaN
604  551       Chris Chiozza  HOU       47,371.00               NaN
605  552          Cody Demps  SAC       47,371.00               NaN
606  553        B.J. Johnson  SAC       47,371.00               NaN
607  554       Emanuel Terry  PHO       47,371.00               NaN
608  555     Richard Solomon  OKC       47,371.00               NaN
609  556         Mitch Creek  MIN       47,371.00               NaN
610  557       Emanuel Terry  MIA       47,371.00               NaN
611  558       Dusty Hannahs  MEM       47,371.00               NaN
612  559       Scott Machado  LAL       47,371.00               NaN
613  560       Stephan Hicks  IND       47,371.00               NaN
614  NaN                 NaN  NaN          Salary               NaN
615   Rk              Player   Tm         2018-19          2019-20
616  561      Tahjere McCall  BRK       47,371.00               NaN
617  562       Jordan Sibert  ATL       47,371.00               NaN
618  563     Isaac Humphries  ATL       47,371.00               NaN
619  564       Emanuel Terry  DEN       35,000.00               NaN
620  565       Troy Williams  NOP       34,183.00               NaN
621  566       Terry Larrier  DAL        6,000.00               NaN
622  567      Ding Yanyuhang  DAL        4,737.00               NaN
623  NaN                 NaN  NaN              NaN              NaN

            2020-21          2021-22          2022-23    2023-24   \
0     43,006,362.00    45,780,966.00               NaN        NaN
1     41,358,814.00    44,211,146.00               NaN        NaN
2     41,006,000.00    43,848,000.00    46,662,000.00         NaN
3     39,219,565.00    41,002,273.00               NaN        NaN
4     36,595,996.00    38,957,028.00               NaN        NaN
5     34,187,085.00               NaN              NaN        NaN
6                NaN              NaN              NaN        NaN
7     35,450,412.00    37,895,268.00               NaN        NaN
8     34,504,132.00               NaN              NaN        NaN
9     40,824,000.00    43,848,000.00    46,872,000.00         NaN
10               NaN              NaN              NaN        NaN
11               NaN              NaN              NaN        NaN
12               NaN              NaN              NaN        NaN
13    31,626,953.00               NaN              NaN        NaN
14    27,739,975.00               NaN              NaN        NaN
15               NaN              NaN              NaN        NaN
16    28,489,239.00               NaN              NaN        NaN
17    26,131,111.00    27,020,000.00               NaN        NaN
18    29,354,152.00               NaN              NaN        NaN
19               NaN              NaN              NaN        NaN
20               NaN              NaN              NaN        NaN
21          2020-21          2021-22          2022-23    2023-24
22    29,290,000.00    31,310,000.00    33,330,000.00         NaN
23    29,290,000.00    31,310,000.00    33,330,000.00         NaN
24    28,751,775.00               NaN              NaN        NaN
25    28,751,775.00               NaN              NaN        NaN
26    28,751,775.00               NaN              NaN        NaN
27               NaN              NaN              NaN        NaN
28    28,542,009.00    30,510,423.00    32,478,837.00         NaN
29    27,528,090.00               NaN              NaN        NaN
..               ...              ...              ...        ...
594              NaN              NaN              NaN        NaN
595              NaN              NaN              NaN        NaN
596              NaN              NaN              NaN        NaN
597              NaN              NaN              NaN        NaN
598              NaN              NaN              NaN        NaN
599              NaN              NaN              NaN        NaN
600              NaN              NaN              NaN        NaN
601              NaN              NaN              NaN        NaN
602              NaN              NaN              NaN        NaN
603              NaN              NaN              NaN        NaN
604              NaN              NaN              NaN        NaN
605              NaN              NaN              NaN        NaN
606              NaN              NaN              NaN        NaN
607              NaN              NaN              NaN        NaN
608              NaN              NaN              NaN        NaN
609              NaN              NaN              NaN        NaN
610              NaN              NaN              NaN        NaN
611              NaN              NaN              NaN        NaN
612              NaN              NaN              NaN        NaN
613              NaN              NaN              NaN        NaN
614              NaN              NaN              NaN        NaN
615         2020-21          2021-22          2022-23    2023-24
616              NaN              NaN              NaN        NaN
617              NaN              NaN              NaN        NaN
618              NaN              NaN              NaN        NaN
619              NaN              NaN              NaN        NaN
620              NaN              NaN              NaN        NaN
621              NaN              NaN              NaN        NaN
622              NaN              NaN              NaN        NaN
623              NaN              NaN              NaN        NaN

        Signed Using       Guaranteed
0        Bird Rights   166,476,240.00
1                NaN   159,730,592.00
2        Bird Rights   158,686,150.00
3                NaN   113,310,573.00
4        Bird Rights   102,919,892.00
5          Cap space    63,914,985.00
6        Bird Rights    64,496,296.00
7     Maximum Salary    99,016,668.00
8          Cap Space    85,459,122.00
9        Bird Rights   152,903,854.00
10               NaN    30,000,000.00
11         Cap space    29,730,769.00
12         Cap Space    28,928,710.00
13    1st Round Pick    89,406,963.00
14         Cap Space    55,479,950.00
15               NaN    26,837,720.00
16       Bird Rights    53,262,489.00
17       Bird Rights    78,238,333.00
18    1st Round Pick    82,670,877.00
19               NaN    25,534,253.00
20               NaN               NaN
21      Signed Using       Guaranteed
22    1st Round Pick   146,667,250.00
23    1st Round Pick    25,467,250.00
24         Cap Space    81,279,057.00
25    1st Round Pick    52,527,282.00
26         Cap Space    52,527,282.00
27         Cap Space    25,434,263.00
28               NaN   142,710,045.00
29    1st Round Pick    77,528,091.00
..               ...               ...
594  10-Day Contract        88,531.00
595              NaN       427,289.00
596              NaN        85,458.00
597              NaN        85,458.00
598              NaN        76,236.00
599              NaN        76,236.00
600              NaN        76,236.00
601              NaN        50,000.00
602              NaN        50,000.00
603              NaN       232,117.00
604              NaN       137,376.00
605              NaN        47,371.00
606              NaN        47,371.00
607              NaN        47,371.00
608              NaN        47,371.00
609  10-Day Contract        47,371.00
610              NaN        47,371.00
611  10-Day Contract        47,371.00
612              NaN        47,371.00
613              NaN        47,371.00
614              NaN               NaN
615     Signed Using       Guaranteed
616              NaN        47,371.00
617              NaN        47,371.00
618              NaN        47,371.00
619              NaN        35,000.00
620              NaN        34,183.00
621              NaN         6,000.00
622              NaN         4,737.00
623              NaN               NaN

[624 rows x 11 columns]

In [58]:
df_contracts.head()

,Rk,Player,Tm,2018-19,2019-20,2020-21,2021-22,2022-23,2023-24,Signed Using,Guaranteed
0,1,Stephen Curry,GSW,"37,457,154.00","40,231,758.00","43,006,362.00","45,780,966.00",NaN,NaN,Bird Rights,"166,476,240.00"
1,2,Chris Paul,HOU,"35,654,150.00","38,506,482.00","41,358,814.00","44,211,146.00",NaN,NaN,NaN,"159,730,592.00"
2,3,Russell Westbrook,OKC,"35,654,150.00","38,178,000.00","41,006,000.00","43,848,000.00","46,662,000.00",NaN,Bird Rights,"158,686,150.00"
3,4,LeBron James,LAL,"35,654,150.00","37,436,858.00","39,219,565.00","41,002,273.00",NaN,NaN,NaN,"113,310,573.00"
4,5,Blake Griffin,DET,"32,088,932.00","34,234,964.00","36,595,996.00","38,957,028.00",NaN,NaN,Bird Rights,"102,919,892.00"

In [59]:
print(df_contracts.isnull().sum())

Rk               29
Player           29
Tm               29
 2018-19          1
 2019-20        293
 2020-21        437
 2021-22        521
 2022-23        579
 2023-24        596
Signed Using    233
 Guaranteed      32
dtype: int64

### View how columns were imported

In [60]:
#View current data types of df_contracts
print(df_contracts.dtypes)

Rk              object
Player          object
Tm              object
 2018-19        object
 2019-20        object
 2020-21        object
 2021-22        object
 2022-23        object
 2023-24        object
Signed Using    object
 Guaranteed     object
dtype: object

### Some rows imported are just headers for readability while scrolling, causing the null values in some cases
#### Remove header rows throughout table after first header

In [61]:
df_contracts = df_contracts.drop(df_contracts[(df_contracts.Rk == 'Rk')].index)

In [62]:
print(df_contracts)

      Rk                 Player   Tm         2018-19          2019-20   \
0      1          Stephen Curry  GSW   37,457,154.00    40,231,758.00
1      2             Chris Paul  HOU   35,654,150.00    38,506,482.00
2      3      Russell Westbrook  OKC   35,654,150.00    38,178,000.00
3      4           LeBron James  LAL   35,654,150.00    37,436,858.00
4      5          Blake Griffin  DET   32,088,932.00    34,234,964.00
5      6         Gordon Hayward  BOS   31,214,295.00    32,700,690.00
6      7             Kyle Lowry  TOR   31,200,000.00    33,296,296.00
7      8            Paul George  OKC   30,560,700.00    33,005,556.00
8      9            Mike Conley  MEM   30,521,116.00    32,511,623.00
9     10           James Harden  HOU   30,431,854.00    37,800,000.00
10    11           Kevin Durant  GSW   30,000,000.00    31,500,000.00
11    12           Paul Millsap  DEN   29,730,769.00    30,500,000.00
12    13             Al Horford  BOS   28,928,710.00    30,123,015.00
13    14         Damian Lillard  POR   27,977,689.00    29,802,321.00
14    15          DeMar DeRozan  SAS   27,739,975.00    27,739,975.00
15    16             Chris Bosh  MIA   26,837,720.00               NaN
16    17            Otto Porter  CHI   26,011,913.00    27,250,576.00
17    18           Jrue Holiday  NOP   25,976,111.00    26,131,111.00
18    19            CJ McCollum  POR   25,759,766.00    27,556,959.00
19    20        Carmelo Anthony  ATL   25,534,253.00               NaN
20   NaN                    NaN  NaN          Salary               NaN
22    21         Andrew Wiggins  MIN   25,467,250.00    27,270,000.00
23    22            Joel Embiid  PHI   25,467,250.00    27,270,000.00
24    23           Bradley Beal  WAS   25,434,263.00    27,093,019.00
25    24          Anthony Davis  NOP   25,434,263.00    27,093,019.00
26    25         Andre Drummond  DET   25,434,263.00    27,093,019.00
27    26       Hassan Whiteside  MIA   25,434,263.00    27,093,018.00
28    27           Nikola Jokic  DEN   24,605,181.00    26,573,595.00
29    28           Steven Adams  OKC   24,157,304.00    25,842,697.00
30    29  Giannis Antetokounmpo  MIL   24,157,304.00    25,842,697.00
..   ...                    ...  ...              ...              ...
592  NaN                    NaN  NaN          Salary               NaN
594  541         JaKarr Sampson  CHI       88,531.00               NaN
595  542         Henry Ellenson  NYK       85,458.00               NaN
596  543            Gary Payton  WAS       85,458.00               NaN
597  544          Scotty Hopson  OKC       85,458.00               NaN
598  545          Charles Cooke  MIA       76,236.00               NaN
599  546           Andre Ingram  LAL       76,236.00               NaN
600  547           Kobi Simmons  CLE       76,236.00               NaN
601  548     Shaquille Harrison  PHO       50,000.00               NaN
602  549           Garlon Green  NOP       50,000.00               NaN
603  550           Ray Spalding  PHO       47,371.00               NaN
604  551          Chris Chiozza  HOU       47,371.00               NaN
605  552             Cody Demps  SAC       47,371.00               NaN
606  553           B.J. Johnson  SAC       47,371.00               NaN
607  554          Emanuel Terry  PHO       47,371.00               NaN
608  555        Richard Solomon  OKC       47,371.00               NaN
609  556            Mitch Creek  MIN       47,371.00               NaN
610  557          Emanuel Terry  MIA       47,371.00               NaN
611  558          Dusty Hannahs  MEM       47,371.00               NaN
612  559          Scott Machado  LAL       47,371.00               NaN
613  560          Stephan Hicks  IND       47,371.00               NaN
614  NaN                    NaN  NaN          Salary               NaN
616  561         Tahjere McCall  BRK       47,371.00               NaN
617  562          Jordan Sibert  ATL       47,371.00               NaN
618  563        Isaac Humphries  ATL       47,371.00               NaN
619  564          Emanuel Terry  DEN       35,000.00               NaN
620  565          Troy Williams  NOP       34,183.00               NaN
621  566          Terry Larrier  DAL        6,000.00               NaN
622  567         Ding Yanyuhang  DAL        4,737.00               NaN
623  NaN                    NaN  NaN              NaN              NaN

            2020-21          2021-22          2022-23   2023-24   \
0     43,006,362.00    45,780,966.00               NaN       NaN
1     41,358,814.00    44,211,146.00               NaN       NaN
2     41,006,000.00    43,848,000.00    46,662,000.00        NaN
3     39,219,565.00    41,002,273.00               NaN       NaN
4     36,595,996.00    38,957,028.00               NaN       NaN
5     34,187,085.00               NaN              NaN       NaN
6                NaN              NaN              NaN       NaN
7     35,450,412.00    37,895,268.00               NaN       NaN
8     34,504,132.00               NaN              NaN       NaN
9     40,824,000.00    43,848,000.00    46,872,000.00        NaN
10               NaN              NaN              NaN       NaN
11               NaN              NaN              NaN       NaN
12               NaN              NaN              NaN       NaN
13    31,626,953.00               NaN              NaN       NaN
14    27,739,975.00               NaN              NaN       NaN
15               NaN              NaN              NaN       NaN
16    28,489,239.00               NaN              NaN       NaN
17    26,131,111.00    27,020,000.00               NaN       NaN
18    29,354,152.00               NaN              NaN       NaN
19               NaN              NaN              NaN       NaN
20               NaN              NaN              NaN       NaN
22    29,290,000.00    31,310,000.00    33,330,000.00        NaN
23    29,290,000.00    31,310,000.00    33,330,000.00        NaN
24    28,751,775.00               NaN              NaN       NaN
25    28,751,775.00               NaN              NaN       NaN
26    28,751,775.00               NaN              NaN       NaN
27               NaN              NaN              NaN       NaN
28    28,542,009.00    30,510,423.00    32,478,837.00        NaN
29    27,528,090.00               NaN              NaN       NaN
30    27,528,090.00               NaN              NaN       NaN
..               ...              ...              ...       ...
592              NaN              NaN              NaN       NaN
594              NaN              NaN              NaN       NaN
595              NaN              NaN              NaN       NaN
596              NaN              NaN              NaN       NaN
597              NaN              NaN              NaN       NaN
598              NaN              NaN              NaN       NaN
599              NaN              NaN              NaN       NaN
600              NaN              NaN              NaN       NaN
601              NaN              NaN              NaN       NaN
602              NaN              NaN              NaN       NaN
603              NaN              NaN              NaN       NaN
604              NaN              NaN              NaN       NaN
605              NaN              NaN              NaN       NaN
606              NaN              NaN              NaN       NaN
607              NaN              NaN              NaN       NaN
608              NaN              NaN              NaN       NaN
609              NaN              NaN              NaN       NaN
610              NaN              NaN              NaN       NaN
611              NaN              NaN              NaN       NaN
612              NaN              NaN              NaN       NaN
613              NaN              NaN              NaN       NaN
614              NaN              NaN              NaN       NaN
616              NaN              NaN              NaN       NaN
617              NaN              NaN              NaN       NaN
618              NaN              NaN              NaN       NaN
619              NaN              NaN              NaN       NaN
620              NaN              NaN              NaN       NaN
621              NaN              NaN              NaN       NaN
622              NaN              NaN              NaN       NaN
623              NaN              NaN              NaN       NaN

        Signed Using       Guaranteed
0        Bird Rights   166,476,240.00
1                NaN   159,730,592.00
2        Bird Rights   158,686,150.00
3                NaN   113,310,573.00
4        Bird Rights   102,919,892.00
5          Cap space    63,914,985.00
6        Bird Rights    64,496,296.00
7     Maximum Salary    99,016,668.00
8          Cap Space    85,459,122.00
9        Bird Rights   152,903,854.00
10               NaN    30,000,000.00
11         Cap space    29,730,769.00
12         Cap Space    28,928,710.00
13    1st Round Pick    89,406,963.00
14         Cap Space    55,479,950.00
15               NaN    26,837,720.00
16       Bird Rights    53,262,489.00
17       Bird Rights    78,238,333.00
18    1st Round Pick    82,670,877.00
19               NaN    25,534,253.00
20               NaN               NaN
22    1st Round Pick   146,667,250.00
23    1st Round Pick    25,467,250.00
24         Cap Space    81,279,057.00
25    1st Round Pick    52,527,282.00
26         Cap Space    52,527,282.00
27         Cap Space    25,434,263.00
28               NaN   142,710,045.00
29    1st Round Pick    77,528,091.00
30    1st Round Pick    77,528,091.00
..               ...               ...
592              NaN               NaN
594  10-Day Contract        88,531.00
595              NaN       427,289.00
596              NaN        85,458.00
597              NaN        85,458.00
598              NaN        76,236.00
599              NaN        76,236.00
600              NaN        76,236.00
601              NaN        50,000.00
602              NaN        50,000.00
603              NaN       232,117.00
604              NaN       137,376.00
605              NaN        47,371.00
606              NaN        47,371.00
607              NaN        47,371.00
608              NaN        47,371.00
609  10-Day Contract        47,371.00
610              NaN        47,371.00
611  10-Day Contract        47,371.00
612              NaN        47,371.00
613              NaN        47,371.00
614              NaN               NaN
616              NaN        47,371.00
617              NaN        47,371.00
618              NaN        47,371.00
619              NaN        35,000.00
620              NaN        34,183.00
621              NaN         6,000.00
622              NaN         4,737.00
623              NaN               NaN

[596 rows x 11 columns]

### Removed one set of headers for column names, now to remove "Salary" header throughout rest of Dataframe

In [63]:
df_contracts = df_contracts.dropna(subset = ['Rk'])

In [64]:
print(df_contracts)

      Rk                 Player   Tm         2018-19          2019-20   \
0      1          Stephen Curry  GSW   37,457,154.00    40,231,758.00
1      2             Chris Paul  HOU   35,654,150.00    38,506,482.00
2      3      Russell Westbrook  OKC   35,654,150.00    38,178,000.00
3      4           LeBron James  LAL   35,654,150.00    37,436,858.00
4      5          Blake Griffin  DET   32,088,932.00    34,234,964.00
5      6         Gordon Hayward  BOS   31,214,295.00    32,700,690.00
6      7             Kyle Lowry  TOR   31,200,000.00    33,296,296.00
7      8            Paul George  OKC   30,560,700.00    33,005,556.00
8      9            Mike Conley  MEM   30,521,116.00    32,511,623.00
9     10           James Harden  HOU   30,431,854.00    37,800,000.00
10    11           Kevin Durant  GSW   30,000,000.00    31,500,000.00
11    12           Paul Millsap  DEN   29,730,769.00    30,500,000.00
12    13             Al Horford  BOS   28,928,710.00    30,123,015.00
13    14         Damian Lillard  POR   27,977,689.00    29,802,321.00
14    15          DeMar DeRozan  SAS   27,739,975.00    27,739,975.00
15    16             Chris Bosh  MIA   26,837,720.00               NaN
16    17            Otto Porter  CHI   26,011,913.00    27,250,576.00
17    18           Jrue Holiday  NOP   25,976,111.00    26,131,111.00
18    19            CJ McCollum  POR   25,759,766.00    27,556,959.00
19    20        Carmelo Anthony  ATL   25,534,253.00               NaN
22    21         Andrew Wiggins  MIN   25,467,250.00    27,270,000.00
23    22            Joel Embiid  PHI   25,467,250.00    27,270,000.00
24    23           Bradley Beal  WAS   25,434,263.00    27,093,019.00
25    24          Anthony Davis  NOP   25,434,263.00    27,093,019.00
26    25         Andre Drummond  DET   25,434,263.00    27,093,019.00
27    26       Hassan Whiteside  MIA   25,434,263.00    27,093,018.00
28    27           Nikola Jokic  DEN   24,605,181.00    26,573,595.00
29    28           Steven Adams  OKC   24,157,304.00    25,842,697.00
30    29  Giannis Antetokounmpo  MIL   24,157,304.00    25,842,697.00
31    30             Kevin Love  CLE   24,119,025.00    28,900,000.00
..   ...                    ...  ...              ...              ...
589  538      Demetrius Jackson  BOS       92,857.00        92,857.00
590  539          Chris Chiozza  HOU       90,005.00               NaN
591  540          Eric Moreland  TOR       88,531.00               NaN
594  541         JaKarr Sampson  CHI       88,531.00               NaN
595  542         Henry Ellenson  NYK       85,458.00               NaN
596  543            Gary Payton  WAS       85,458.00               NaN
597  544          Scotty Hopson  OKC       85,458.00               NaN
598  545          Charles Cooke  MIA       76,236.00               NaN
599  546           Andre Ingram  LAL       76,236.00               NaN
600  547           Kobi Simmons  CLE       76,236.00               NaN
601  548     Shaquille Harrison  PHO       50,000.00               NaN
602  549           Garlon Green  NOP       50,000.00               NaN
603  550           Ray Spalding  PHO       47,371.00               NaN
604  551          Chris Chiozza  HOU       47,371.00               NaN
605  552             Cody Demps  SAC       47,371.00               NaN
606  553           B.J. Johnson  SAC       47,371.00               NaN
607  554          Emanuel Terry  PHO       47,371.00               NaN
608  555        Richard Solomon  OKC       47,371.00               NaN
609  556            Mitch Creek  MIN       47,371.00               NaN
610  557          Emanuel Terry  MIA       47,371.00               NaN
611  558          Dusty Hannahs  MEM       47,371.00               NaN
612  559          Scott Machado  LAL       47,371.00               NaN
613  560          Stephan Hicks  IND       47,371.00               NaN
616  561         Tahjere McCall  BRK       47,371.00               NaN
617  562          Jordan Sibert  ATL       47,371.00               NaN
618  563        Isaac Humphries  ATL       47,371.00               NaN
619  564          Emanuel Terry  DEN       35,000.00               NaN
620  565          Troy Williams  NOP       34,183.00               NaN
621  566          Terry Larrier  DAL        6,000.00               NaN
622  567         Ding Yanyuhang  DAL        4,737.00               NaN

            2020-21          2021-22          2022-23   2023-24   \
0     43,006,362.00    45,780,966.00               NaN       NaN
1     41,358,814.00    44,211,146.00               NaN       NaN
2     41,006,000.00    43,848,000.00    46,662,000.00        NaN
3     39,219,565.00    41,002,273.00               NaN       NaN
4     36,595,996.00    38,957,028.00               NaN       NaN
5     34,187,085.00               NaN              NaN       NaN
6                NaN              NaN              NaN       NaN
7     35,450,412.00    37,895,268.00               NaN       NaN
8     34,504,132.00               NaN              NaN       NaN
9     40,824,000.00    43,848,000.00    46,872,000.00        NaN
10               NaN              NaN              NaN       NaN
11               NaN              NaN              NaN       NaN
12               NaN              NaN              NaN       NaN
13    31,626,953.00               NaN              NaN       NaN
14    27,739,975.00               NaN              NaN       NaN
15               NaN              NaN              NaN       NaN
16    28,489,239.00               NaN              NaN       NaN
17    26,131,111.00    27,020,000.00               NaN       NaN
18    29,354,152.00               NaN              NaN       NaN
19               NaN              NaN              NaN       NaN
22    29,290,000.00    31,310,000.00    33,330,000.00        NaN
23    29,290,000.00    31,310,000.00    33,330,000.00        NaN
24    28,751,775.00               NaN              NaN       NaN
25    28,751,775.00               NaN              NaN       NaN
26    28,751,775.00               NaN              NaN       NaN
27               NaN              NaN              NaN       NaN
28    28,542,009.00    30,510,423.00    32,478,837.00        NaN
29    27,528,090.00               NaN              NaN       NaN
30    27,528,090.00               NaN              NaN       NaN
31    31,300,000.00    31,300,000.00    28,900,000.00        NaN
..               ...              ...              ...       ...
589       92,857.00        92,857.00        92,857.00        NaN
590              NaN              NaN              NaN       NaN
591              NaN              NaN              NaN       NaN
594              NaN              NaN              NaN       NaN
595              NaN              NaN              NaN       NaN
596              NaN              NaN              NaN       NaN
597              NaN              NaN              NaN       NaN
598              NaN              NaN              NaN       NaN
599              NaN              NaN              NaN       NaN
600              NaN              NaN              NaN       NaN
601              NaN              NaN              NaN       NaN
602              NaN              NaN              NaN       NaN
603              NaN              NaN              NaN       NaN
604              NaN              NaN              NaN       NaN
605              NaN              NaN              NaN       NaN
606              NaN              NaN              NaN       NaN
607              NaN              NaN              NaN       NaN
608              NaN              NaN              NaN       NaN
609              NaN              NaN              NaN       NaN
610              NaN              NaN              NaN       NaN
611              NaN              NaN              NaN       NaN
612              NaN              NaN              NaN       NaN
613              NaN              NaN              NaN       NaN
616              NaN              NaN              NaN       NaN
617              NaN              NaN              NaN       NaN
618              NaN              NaN              NaN       NaN
619              NaN              NaN              NaN       NaN
620              NaN              NaN              NaN       NaN
621              NaN              NaN              NaN       NaN
622              NaN              NaN              NaN       NaN

        Signed Using       Guaranteed
0        Bird Rights   166,476,240.00
1                NaN   159,730,592.00
2        Bird Rights   158,686,150.00
3                NaN   113,310,573.00
4        Bird Rights   102,919,892.00
5          Cap space    63,914,985.00
6        Bird Rights    64,496,296.00
7     Maximum Salary    99,016,668.00
8          Cap Space    85,459,122.00
9        Bird Rights   152,903,854.00
10               NaN    30,000,000.00
11         Cap space    29,730,769.00
12         Cap Space    28,928,710.00
13    1st Round Pick    89,406,963.00
14         Cap Space    55,479,950.00
15               NaN    26,837,720.00
16       Bird Rights    53,262,489.00
17       Bird Rights    78,238,333.00
18    1st Round Pick    82,670,877.00
19               NaN    25,534,253.00
22    1st Round Pick   146,667,250.00
23    1st Round Pick    25,467,250.00
24         Cap Space    81,279,057.00
25    1st Round Pick    52,527,282.00
26         Cap Space    52,527,282.00
27         Cap Space    25,434,263.00
28               NaN   142,710,045.00
29    1st Round Pick    77,528,091.00
30    1st Round Pick    77,528,091.00
31       Bird Rights   144,519,025.00
..               ...               ...
589              NaN       557,142.00
590              NaN       137,376.00
591              NaN        88,531.00
594  10-Day Contract        88,531.00
595              NaN       427,289.00
596              NaN        85,458.00
597              NaN        85,458.00
598              NaN        76,236.00
599              NaN        76,236.00
600              NaN        76,236.00
601              NaN        50,000.00
602              NaN        50,000.00
603              NaN       232,117.00
604              NaN       137,376.00
605              NaN        47,371.00
606              NaN        47,371.00
607              NaN        47,371.00
608              NaN        47,371.00
609  10-Day Contract        47,371.00
610              NaN        47,371.00
611  10-Day Contract        47,371.00
612              NaN        47,371.00
613              NaN        47,371.00
616              NaN        47,371.00
617              NaN        47,371.00
618              NaN        47,371.00
619              NaN        35,000.00
620              NaN        34,183.00
621              NaN         6,000.00
622              NaN         4,737.00

[567 rows x 11 columns]

### Successfully removed header rows throughout table from Dataframe Contracts